@import '../../../styles/Main.scss';

.loader{
    @include blockContent(100%, 100vh, 0px, flex, center, space-around);
    flex-direction: column;
    background-color: $corporate_color;

    &__block{
        display: flex;
    }

    &__item{
        background-color: #1976d2;
        border-radius: 4px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }

    &__block_button{
        display: flex;
        width: 100%;
        padding: 30px;
        align-items: center;
        justify-content: end;
    }

    &__item_button{
        width: 12%;
        height: 35px;
        border-radius: 4px;
        background-color: #1976d2;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }

    

    &__block_search{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    &__item_search{
        @include blockContent(80%, 50px, 0px, flex, center, center);
        border-radius: 4px;
        background-color: #1976d2;
    }

    &__search{
        width: 80%;
        height: 40px;
        border-radius: 4px;
        background-color: $corporate_color;
    }

    &__block_table{
        width: 90%;
        height: auto;
        margin: auto 0;
        padding-bottom: 30px;
        background-color: #1d7fe218;
    }

    &__item{
        width: 80%;
        height: 50px;
        margin: 30px auto 0 auto;
        border-radius: 4px;
        background-color: #1976d2;
    }

    &__animation {
        width: 48px;
        height: 48px;
        top: 20%;
        position: absolute;
    }

    &__animation ::before , .loader__animation::after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        width: 48em;
        height: 48em;
        background-image:
            radial-gradient(circle 10px, #1976d2 100%, transparent 0),
            radial-gradient(circle 10px, #1976d2 100%, transparent 0),
            radial-gradient(circle 10px, #1976d2 100%, transparent 0),
            radial-gradient(circle 10px, #1976d2 100%, transparent 0),
            radial-gradient(circle 10px, #1976d2 100%, transparent 0),
            radial-gradient(circle 10px, #1976d2 100%, transparent 0),
            radial-gradient(circle 10px, #1976d2 100%, transparent 0),
            radial-gradient(circle 10px, #1976d2 100%, transparent 0);
        background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                            13em -13em, -13em -13em, 13em 13em, -13em 13em;
            background-repeat: no-repeat;
        font-size: 0.5px;
        border-radius: 50%;
        animation: blast 1s ease-in infinite;
    }

    &__animation::after {
        font-size: 1px;
        background: #0353a30e;
        animation: bounce 1s ease-in infinite;
    }

    @keyframes bounce {
        0% , 100%{ font-size: 0.75px }
        50% { font-size: 1.5px }
    }
    @keyframes blast {
        0% , 40% {
            font-size: 0.5px;
        }
        70% {
            opacity: 1;
            font-size: 4px;
        }
        100% {
            font-size: 6px;
            opacity: 0;
        }
    }
}