@import './Main.scss';

.entry-form {
    @include blockContent(1200px, auto, auto, flex, center, space-around);
    flex-direction: column;
    padding: 20px 30px;
    background-color: $background_block;

		&__exit {
            @include blockContent(100%, auto, 0px, flex, center, end);

		}

		&__user-name {
		}

		&__add-post {
            @include blockContent(1000px, 200px, auto, flex, center, space-around);
		}

		&__data {
            @include blockContent(1000px, 500px, auto, flex, center, space-around);
            background-color: $background_;
            flex-direction: column;
		}
}
