@import "./Main.scss";

.entry-form {
  width: 100%;
  height: 100%;

  &__wrapper {
    @include blockContent(1200px, 100%, auto, flex, center, space-around);
    flex-direction: column;
    padding: 20px 30px;
    background-color: $background_block;
    @media (max-width: 1300px) {
      width: 95%;
    }
    @media (max-width: 700px) {
      width: 100%;
      padding: 10px;
    }
    @media (max-width: 350px) {
      padding: 0px;
    }
  }

  &__exit {
    @include blockContent(100%, auto, 0px, flex, center, end);
  }

  &__user-name {
    @include blockContent(90%, auto, 0px, flex, center, end);
    padding: 20px 0px;
  }

  &__user-name>span{
      @include text ($color, 1.5rem, 700, 20px, left);
  }

  &__add-post {
    @include blockContent(90%, auto, 20px auto, flex, center, normal);
    @media (max-width: 1300px) {
      width: 80%;
    }
  }

  &__data {
    @include blockContent(1000px, 100%, auto, flex, center, normal);
    background-color: $background_;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px 30px;
    overflow: auto;
    @media (max-width: 1300px) {
      width: 90%;
    }
    @media (max-width: 700px) {
      width: 100%;
      padding: 20px 20px;
    }
    @media (max-width: 400px) {
      width: 100%;
      padding: 0px;
    }
  }
}
