@import './Main.scss';

.unregistered{
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    background-color: $background_block;

    &__wrapper{
        @include blockContent(900px, 200px, auto, flex, center, space-around);
        margin: 0 auto 0 auto;
        background-color: $background_;
        border-radius: 30px;
        @media (max-width: 1300px) {
        width: 90%;
      }
    }
}