@import '../../../styles/Main.scss';

.myTextarea{
    width: 100%;
    height: 40px;
    background-color: $corporate_color;
    font-size: 0.9em;
    padding: 5px 15px;
    color: $color;

    &::placeholder{
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        // font-family: $font_style;
    }

    &::-webkit-input-placeholder {
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        // font-family: $font_style;
    }

    &::-moz-placeholder {
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        // font-family: $font_style;
    }/* Firefox 19+ */
    
    &:-moz-placeholder {
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        // font-family: $font_style;
    }/* Firefox 18- */

    &:-ms-input-placeholder {
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        // font-family: $font_style;
    }

}



